[user]
	name = Brett Lyons
	email = blyons@students.naropa.edu
[core]
  excludesfile = /Users/brett/.gitignore_global
	editor = /usr/local/bin/nvim
[push]
	default = simple
[alias]
	history = log --pretty --oneline --all --decorate --graph
	logg = log --pretty --oneline --all --decorate --graph
